@import "media.css";
@import "bootstrap.css";
@import "bootstrap-grid.css";
@import "bootstrap-reboot.css";

/*CSS*/

html, body {

}
.bg {
    background: url("img/mainbackground.png") 100% 100%;
    width: 100%;
    height: 100%;
}
/*CSS*/